body {
    background: beige;
}
.page {
    text-align: center;
    margin: 15mm 30mm 15mm 30mm;
}
.row {
    font-family: Cursive, Helvetica, sans-serif;
}
.left, .right {
    display: inline-block;
    border: solid;
    width: 76mm;
    height: 50mm;
    padding-top: 40px;
    background: #5ccccc;
}
.first, .last, .city, .state {
    text-align: center;
    display:inline;
    font-size: 15px;
 }
.first, .last {
    font-size: 30px;
    color: green;
}
.job {
    color: red;
    font-size: 15px;
}
@media  screen and (max-width: 480px) {
    form { width: 100%; }
}

/*
span {
    font-size: 30px;
    color: green;
}
span:nth-child(3){
    color: red;
    font-size: 15px;
}
 */

