{% extends "base.html" %}
{% block title %}
    Speakers
{% endblock %}
{% block main %}
    <h1><u>{{ title }}</u></h1>
    <div class="horizontal">
        {# loop will display speakers name #}
        {% for person in speakers %}
            <div class="column">
                {# displays correct image of each speaker #}
                {% if person == "Big, Tony" %}
                    <img src="{{ url_for('static', filename='images/speaker-1.jpg') }}"
                         alt="Home image" width="300" height="300">
                    <h3>{{ person }}</h3>
                    {# displays speech #}
                    {% for info in speech %}
                        <p>{{ info.speech1 }}</p>
                    {% endfor %}
                {% else %}
                    <img src="{{ url_for('static', filename='images/speaker-2.jpg') }}"
                         alt="Home image" width="300" height="300">
                    <h3>{{ person }}</h3>
                    {# displays speech #}
                    {% for info in speech %}
                        <p>{{ info.speech2 }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}