<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Name Tags 10gen</title>
	<link rel='stylesheet' href='../static/css/nametags10.css'>
</head>
<body>
<div class="page">
	<div class="row">
		<div class="left"><p class ="first">Jill</p><p class ="last">Jackson</p><p class ="job">Web Developer</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
		<div class="right"><p class ="first">John</p><p class ="last">Smith</p><p class ="job">IT Manager</p><p class ="company">Really Big Company</p><p class ="city">Denver</p><p class ="state">CO</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Lucy</p><p class ="last">Robertson</p><p class ="job">Senior Developer</p><p class ="company">Walmart</p><p class ="city">Bentonville</p><p class ="state">AR</p></div>
		<div class="right"><p class ="first">Benjamin</p><p class ="last">Reyes</p><p class ="job">Quality Control Lead</p><p class ="company">Quality Is Us!</p><p class ="city">Austin</p><p class ="state">TX</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Ada</p><p class ="last">Lovelace</p><p class ="job">Mathematician</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
		<div class="right"><p class ="first">Bill</p><p class ="last">Gates</p><p class ="job">Computer Programmer</p><p class ="company">Microsoft</p><p class ="city">Redmond</p><p class ="state">WA</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Corrinne</p><p class ="last">Yu</p><p class ="job">Game Programmer</p><p class ="company">Naughty Dog</p><p class ="city">Santa Monica</p><p class ="state">CA</p></div>
		<div class="right"><p class ="first">Donald</p><p class ="last">Knuth</p><p class ="job">Professor</p><p class ="company">Stanford University</p><p class ="city">Standford</p><p class ="state">CA</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Audrey</p><p class ="last">Tang</p><p class ="job">Software Programmer</p><p class ="company">Pugs Project</p><p class ="city">San Jose</p><p class ="state">CA</p></div>
		<div class="right"><p class ="first">Jill2</p><p class ="last">Jackson</p><p class ="job">Web Developer</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
	</div></div>
<div class="page">
	<div class="row">
		<div class="left"><p class ="first">John2</p><p class ="last">Smith</p><p class ="job">IT Manager</p><p class ="company">Really Big Company</p><p class ="city">Denver</p><p class ="state">CO</p></div>
		<div class="right"><p class ="first">Lucy2</p><p class ="last">Robertson</p><p class ="job">Senior Developer</p><p class ="company">Walmart</p><p class ="city">Bentonville</p><p class ="state">AR</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Benjamin2</p><p class ="last">Reyes</p><p class ="job">Quality Control Lead</p><p class ="company">Quality Is Us!</p><p class ="city">Austin</p><p class ="state">TX</p></div>
		<div class="right"><p class ="first">Ada2</p><p class ="last">Lovelace</p><p class ="job">Mathematician</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Bill2</p><p class ="last">Gates</p><p class ="job">Computer Programmer</p><p class ="company">Microsoft</p><p class ="city">Redmond</p><p class ="state">WA</p></div>
		<div class="right"><p class ="first">Corrinne2</p><p class ="last">Yu</p><p class ="job">Game Programmer</p><p class ="company">Naughty Dog</p><p class ="city">Santa Monica</p><p class ="state">CA</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Donald2</p><p class ="last">Knuth</p><p class ="job">Professor</p><p class ="company">Stanford University</p><p class ="city">Standford</p><p class ="state">CA</p></div>
		<div class="right"><p class ="first">Audrey2</p><p class ="last">Tang</p><p class ="job">Software Programmer</p><p class ="company">Pugs Project</p><p class ="city">San Jose</p><p class ="state">CA</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Jill3</p><p class ="last">Jackson</p><p class ="job">Web Developer</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
		<div class="right"><p class ="first">John3</p><p class ="last">Smith</p><p class ="job">IT Manager</p><p class ="company">Really Big Company</p><p class ="city">Denver</p><p class ="state">CO</p></div>
	</div></div>
<div class="page">
	<div class="row">
		<div class="left"><p class ="first">Lucy3</p><p class ="last">Robertson</p><p class ="job">Senior Developer</p><p class ="company">Walmart</p><p class ="city">Bentonville</p><p class ="state">AR</p></div>
		<div class="right"><p class ="first">Benjamin3</p><p class ="last">Reyes</p><p class ="job">Quality Control Lead</p><p class ="company">Quality Is Us!</p><p class ="city">Austin</p><p class ="state">TX</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Ada3</p><p class ="last">Lovelace</p><p class ="job">Mathematician</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
		<div class="right"><p class ="first">Bill3</p><p class ="last">Gates</p><p class ="job">Computer Programmer</p><p class ="company">Microsoft</p><p class ="city">Redmond</p><p class ="state">WA</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Corrinne3</p><p class ="last">Yu</p><p class ="job">Game Programmer</p><p class ="company">Naughty Dog</p><p class ="city">Santa Monica</p><p class ="state">CA</p></div>
		<div class="right"><p class ="first">Donald3</p><p class ="last">Knuth</p><p class ="job">Professor</p><p class ="company">Stanford University</p><p class ="city">Standford</p><p class ="state">CA</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Audrey3</p><p class ="last">Tang</p><p class ="job">Software Programmer</p><p class ="company">Pugs Project</p><p class ="city">San Jose</p><p class ="state">CA</p></div>
		<div class="right"><p class ="first">Jill4</p><p class ="last">Jackson</p><p class ="job">Web Developer</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">John4</p><p class ="last">Smith</p><p class ="job">IT Manager</p><p class ="company">Really Big Company</p><p class ="city">Denver</p><p class ="state">CO</p></div>
		<div class="right"><p class ="first">Lucy4</p><p class ="last">Robertson</p><p class ="job">Senior Developer</p><p class ="company">Walmart</p><p class ="city">Bentonville</p><p class ="state">AR</p></div>
	</div></div>
<div class="page">
	<div class="row">
		<div class="left"><p class ="first">Benjamin4</p><p class ="last">Reyes</p><p class ="job">Quality Control Lead</p><p class ="company">Quality Is Us!</p><p class ="city">Austin</p><p class ="state">TX</p></div>
		<div class="right"><p class ="first">Ada4</p><p class ="last">Lovelace</p><p class ="job">Mathematician</p><p class ="company">Regis University</p><p class ="city">Denver</p><p class ="state">CO</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Bill4</p><p class ="last">Gates</p><p class ="job">Computer Programmer</p><p class ="company">Microsoft</p><p class ="city">Redmond</p><p class ="state">WA</p></div>
		<div class="right"><p class ="first">Corrinne4</p><p class ="last">Yu</p><p class ="job">Game Programmer</p><p class ="company">Naughty Dog</p><p class ="city">Santa Monica</p><p class ="state">CA</p></div>
	</div>
	<div class="row">
		<div class="left"><p class ="first">Donald4</p><p class ="last">Knuth</p><p class ="job">Professor</p><p class ="company">Stanford University</p><p class ="city">Standford</p><p class ="state">CA</p></div>
		<div class="right"><p class ="first">Audrey4</p><p class ="last">Tang</p><p class ="job">Software Programmer</p><p class ="company">Pugs Project</p><p class ="city">San Jose</p><p class ="state">CA</p></div>
	</div>
</div>
</body>
</html>