{% extends "base.html" %}
{% block title %}
    Workshop
{% endblock %}
{% block main %}
    <h1><u>{{ title }}</u></h1>
    <div class="schedule">
        <table>
        {# loop creates specified spaces in table#}
            {% for row in elements|batch(6, '&nbsp;') %}
                <tr>
                {# loop fills table with elements#}
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}